@media (min-resolution: 400dpi), (max-width: 600px) {
  /* move version selection in a new line */
  #models-autocomplete {
    flex-direction: column;
  }

  #versions {
    margin-top: 0.5em;
  }

  .autocomplete > input {
    margin-right: 0px !important;
  }

  .row {
    padding-left: 0.2em !important;
  }

  #downloads1 {
    display: none !important;
  }

  #downloads2 {
    display: block !important;
  }
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

#models-autocomplete {
  display: flex;
  padding-top: 20px;
}

.autocomplete {
  position: relative;
}

.autocomplete > input {
  border: 0.06em solid transparent;
  background-color: #f1f1f1;
  padding: 0.8em;
  flex-grow: 1;
  margin-right: 5px;
  border-radius: 0.2em;
  font-size: inherit;
}

.autocomplete-items {
  position: absolute;
  border: 0.1em solid #d4d4d4;
  border-bottom: none;
  font-size: inherit;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 0.8em;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 0.1em solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

header {
  font-weight: 500;
  width: 100%;
  z-index: 1100;
  box-shadow: 0em 0.125em 0.25em -0.06em rgba(0, 0, 0, 0.2),
    0em 0.25em 0.3em 0em rgba(0, 0, 0, 0.14),
    0em 0.06em 0.625em 0em rgba(0, 0, 0, 0.12);
  background-color: #00a3e1;
}

h6 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

header > div {
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-height: 4em;

  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
}

.container {
  padding-left: 1.2em;
  padding-right: 1.2em;
  max-width: 70em;
  box-sizing: border-box;
  margin-top: 1.2em;
  margin-right: auto;
  margin-left: auto;
}

.container > div {
  padding: 0.625em 20px;
  text-align: left;
  box-shadow: 0em 0.06em 0.19em 0em rgba(0, 0, 0, 0.2),
    0em 0.06em 0.06em 0em rgba(0, 0, 0, 0.14),
    0em 0.125em 0.06em -0.06em rgba(0, 0, 0, 0.12);
  border-radius: 0.25em;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

#versions {
  border: 0.06em solid transparent;
  background-color: #f1f1f1;
  padding: 0.8em;
  min-width: 4em;
  border-radius: 0.25em;
  font-size: inherit;
}

#languages {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23FFFFFF;' width='2em' height='20' viewBox='0 0 1792 1792'%3E%3Cpath d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom 0.4em right 0.5em;

  color: #fff;
  font-size: inherit;
  background-color: #1084b2;
  border-radius: 0.25em;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", sans-serif;
  padding: 6px 3em 6px 16px;
  width: 8em;

  outline: none;
  border: none;
  /* hide defaul arrow */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#download-table1 td {
  padding: 1.5em;
}

#download-extras2 {
  padding-top: 1em;
}

#download-links2 td {
  display: inline;
}

#download-table1 {
  border-collapse: collapse;
}

#download-table1 tr {
  border: solid;
  border-color: lightgrey;
  border-width: 1px 0;
}

#download-table1 tr:first-child {
  border-top: none;
}

#download-table1 tr:last-child {
  border-bottom: none;
}

.help-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  vertical-align: middle;
  word-wrap: anywhere;
}

.hash-content {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding-top: 0.4em;
  word-wrap: anywhere;
}

.download-link {
  text-decoration: none;
  border-radius: 0.2em;
  padding: 0.8em;
  margin: 0.2em;
  font-size: inherit;
  cursor: pointer;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  box-shadow: 0em 0.06em 0.3em 0em rgba(0, 0, 0, 0.2),
    0em 0.125em 0.125em 0em rgba(0, 0, 0, 0.14),
    0em 0.19em 0.06em -0.125em rgba(0, 0, 0, 0.12);
  color: #fff;
  background-color: #00a3e1;
  width: max-content;
}

.download-link :first-child {
  width: 30px;
  margin-right: 15px;
  margin-top: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z' fill='%23fff'%3E%3C/path%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.download-link:hover,
.download-link-hover {
  background-color: #038fc6;
}

#image-info {
  width: 1.25em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 -2 24 24' width='48px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z'/%3E%3C/svg%3E");
}

#image-folder {
  width: 1.25em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 -2 24 24' width='48px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z'/%3E%3C/svg%3E");
}

#image-link {
  width: 1.25em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -2 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='m 6.3 17.7 c -1.2 -1.2 -1.2 -3.2 0 -4.4 L 9.10 10.5 7.8 9 4.9 12 c -2 2 -2 5 0 7 2 2 5 2 7 0 l 2.8 -2.8 -1.3 -1.3 -2.8 2.8 c -1.2 1.2 -3.2 1.2 -4.4 0 z M 10 15.5 15.5 10 14 8.5 8.5 14 Z M 12 4.9 9.18 7.8 10.5 9.1 13.4 6.3 c 1.21 -1.2 3.2 -1.2 4.4 0 1.2 1.2 1.2 3.2 0 4.4 l -2.8 2.8 1.3 1.3 2.8 -2.8 c 2 -2 2 -5 0 -7 -2 -2 -5 -2 -7 0 z' /%3E%3C/svg%3E");
}

.row {
  display: flex;
  line-height: 1.5;
  padding-left: 1.5em;
  overflow: hidden;
}

.col1 {
  display: inline-block;
  width: 6em;
}

.col2 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col2 a {
  margin-right: 1em;
}

#image-model {
  font-weight: bold;
}

.hide {
  display: none;
}

.download-help {
  margin-top: 0.5em;
}

#help {
  margin: 20px 0;
}

#footer {
  font-size: 0.8em;
  text-align: right;
  margin-top: 1em;
}

#footer a {
  text-decoration: none;
}

#notfound h3 {
  text-align: center;
}
